{{ define "main" }}

<section>
  <div class="container-fluid">
    <div class="post">
      <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100" alt="{{ .Title }}">
      <div class="post-content">
        <div class="post-date">
          <span>{{ .PublishDate.Format "02" }}</span>
          <span>{{ .PublishDate.Format "Jan" }}</span>
        </div>
        <h2 class="post-title">{{ .Title }}</h2>
      </div>
    </div>
  </div>
</section>

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">Listen to the podcast:</h1>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ .Params.PodcastID }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <div
          style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
          <a href="{{ .Site.Params.podcast.url }}" title="{{ .Site.Params.podcast.author }}" target="_blank"
            style="color: #cccccc; text-decoration: none;">{{ .Site.Params.podcast.author }}</a> · <a
            href='{{ .Site.Params.podcast.url }}/{{ .Params.PodcastPath }}'
            title="{{ .Params.PodcastTitle }}" target="_blank"
            style="color: #cccccc; text-decoration: none;">{{ .Params.PodcastTitle }}</a></div>
        <br><br>
        <h1 class="mb-4">{{ .Title }}</h1>
        <div class="details">
          <p>Approximate reading time: {{ math.Round (div (countwords .Content) 220.0) }} minutes <br>Word count:
            {{ .Content | countwords }}</p>
        </div><br>
        <div class="content">{{.Content}}</div>

        <div class="text-center mt-5">
          <ul class="list-inline post-meta d-inline-block mr-4">
            <li class="list-inline-item"><i class="ti-tag"></i></li>
            {{ range .Params.Tags }}
            <li class="list-inline-item">
              <a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a>
            </li>
            {{ end }}
          </ul>
          <span><i class="ti-user mr-2"></i><a
              href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.author }}</a></span>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://utteranc.es/client.js" repo="alxdavids/ourbbg" issue-term="pathname" label="comments"
  theme="github-dark-orange" crossorigin="anonymous" async>
</script>

{{ end }}